* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */

header {
    position: fixed;       /* fixa no topo */
    top: 0;                /* cola no topo */
    left: 0;               /* cola na esquerda */
    width: 100%;           /* ocupa toda a largura */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 60px;
    background-color: #ffffff;
    z-index: 1000;         /* garante que fique acima dos outros elementos */

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    max-height: 90px;
    width: auto;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Cor de fundo */

main {
    background: linear-gradient(135deg, #93D156, #177E4F);
    padding: 40px;
    min-height: 100vh;
    padding-top: 80px;
}

/* Container central */

.container {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 20px;
    padding: 30px;
    max-width: 900px;
    margin: auto;
    backdrop-filter: blur(5px);  /* Aplica um efeito de desfoque no fundo atrás do elemento,   criando um visual mais moderno (tipo vidro fosco) */

}

/*Estilizando os links dos textos */
a {
    text-decoration: none; 
    color: #000000;
}

a:hover {
    color: #1b6141;
}


/* Linhas */
.linha {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
}

/* Textos */ 

.linha .texto{
    width: 60%;
    color: #1a1a1a;
    line-height: 1.5;
}

/*Imagens */

.img-esquerda, .img-direita {
    width: 250px;
    margin-top: 60px;
    border-radius: 5px;
}

/* Estilizando a nav */

.nav-ids {
    display: flex;
    gap: 2.5rem;
    margin-left: 0.7%;
    flex-wrap: wrap;
}

.nav-ids a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.5s ease;
}

/* Linha verde embaixo ao passar o mouse */
.nav-ids a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #34d30ca8;
  transition: width 0.5s ease;
}

.nav-ids a:hover {
  color: #177E4F;
}

.nav-ids a:hover::after {
  width: 100%;
}

/* Ícone fixo */
.info-icon {
    position: fixed;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 2000;

    /* bolinha branca atrás */
    background: #fff;
    border-radius: 50%;   /* deixa redondo */
    padding: 7px;        /* espaço interno para formar a bola */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* sombra leve */
}


.info-icon img {
    width: 40px;
    height: 40px;
}

/* Caixinha de texto */
.info-box {
    position: fixed;
    bottom: 80px;       /* aparece acima do ícone */
    right: 20px;
    height: 500px;
    width: 700px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: none;      /* começa escondida */
    z-index: 1999;
    animation: fadeIn 0.3s ease;
}

/* Hover: aumenta levemente quando passa o mouse em cima  */
.info-icon:hover {
    transform: scale(1.1);     /* aumenta 10% */
}

.info-box h3 {
    margin-bottom: 10px;
    color: #177E4F;
    font-size: 18px;
}

.info-box p {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}

/* Animação suave */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* imagem do icon interativo */

.img-historia {
    margin-left: 30px;
    height: 210px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.img-historia2 {
    border-radius: 5px;
    height: 200px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}